<div class="container">
	
	<h1>Editing teacher</h1>
	
	<%= render 'form' %>
	
	<div style="margin: 20px auto; text-align: center">	
		<%= link_to 'Show', @teacher, class: "btn btn-success" %>
		<%= link_to 'Back', teachers_path, class: "btn btn-warning" %>
	</div>
	
</div>
