<section id="contact" name="contact"></section>
	<div id="footerwrap">
		<div class="container">
			<div class="col-lg-5">
				<h3>Contact</h3>
				<p>
					<b>Github:</b> <a href="https://github.com/himadriganguly" target="_blank">@himadriganguly</a>
				</p>
				<p>
					<b>Email:</b> <a href="mailto:himadri@colourdrift.com">himadri@colourdrift.com</a><br/>
					<b>Skype:</b><strong>Skype:</strong> colour_drift <br/>
				</p>
				<p>
					<b>Website:</b> <a href="http://www.colourdrift.com" target="_blank">www.colourdrift.com</a>
				</p>
			</div>
			
			<div class="col-lg-7">
				<h3>About The Project</h3>
				<br>
				This is just a demo project to show the <strong>Polymorphic Association</strong> using <strong>Devise</strong>. In this project there are two models <strong>Teacher</strong> and <strong>Student</strong>, both have two seperate registration page but one single Login page
			</div>
		</div>
	</div>
	
	<div id="c">
		<div class="container">
			<p>Created by <a href="http://www.blacktie.co">BLACKTIE.CO</a></p>
		
		</div>
	</div>